:root{
    --main-color:white
}



body{
    box-sizing: border-box;
    color: var(--main-color)
}

#form form input:focus{
box-shadow: 2px 2px 6px  rgb(122, 122, 122);
border: solid black 1px;
}


img{
width: 6%;
}

section  #form input{
    background-color: rgb(214, 214, 214);
}


@media screen and (min-width:640px) {
    section #form input{
        width: 80%;
        
    }
}


@media screen and  (min-width:789px) {
    section #form input{
        width: 80%;
    }
}


@media screen and (min-width:1024x){
    section #form input{
        width: 80%;
    }
}


