:root{
    --main-color:rgb(7, 7, 141)
}



body{
    box-sizing: border-box;
    color: var(--main-color)
}

#form form input:focus{
box-shadow: 2px 2px 6px  rgb(122, 122, 122);
border: solid black 1px;
}




